<%- include('../partial/head.ejs') %>

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 5.5rem;
        }
    }
</style>

<!-- Custom styles for this template -->
<link href="/css/signin.css" rel="stylesheet">
<!-- Sweet Alert-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body class="container border border-info text-center my-3 ">
    <header>
        <div class="px-3 py-2 border rounded-3 my-3 border border-secondary">
            <div class="container d-flex flex-wrap align-items-center justify-content-center">
                <div class="text-end">
                    <% if (user) { %>
                        <a class="btn btn-light text-dark me-2 nav-link" href="/logout">تسجيل الخروج</a>
                    <% } else { %>
                        <a class="btn btn-outline-success nav-link" href="/register">التسجيل</a>
                    <% } %>
                </div>
            </div>
        </div>
    </header>

    <% if (error && error.length > 0) { %>
        <div class="alert alert-danger">
          <% error.forEach(function(err) { %>
            <p><%= err %></p>
          <% }); %>
        </div>
      <% } %>
      
      <% if (success && success.length > 0) { %>
        <div class="alert alert-success">
          <% success.forEach(function(msg) { %>
            <p><%= msg %></p>
          <% }); %>
        </div>
      <% } %>

    <main class="form-signin">
        <form id="forgotPasswordForm" novalidate>
            <h1 class="h3 mb-3 fw-normal">اعادة ضبط كلمة المرور</h1>

            <div class="form-floating mb-3">
                <input name="email" type="email" id="email" class="form-control">
                <label for="email">البريد الالكتروني</label>
                <div id="emailError" class="is-invalid"></div>
            </div>

            <button class="w-100 btn btn-lg btn-success" type="submit">اعادة الضبط</button>
        </form>
    </main>

    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', function(event) {
            event.preventDefault(); // منع الإرسال الافتراضي للنموذج

            const email = document.getElementById('email').value;

            fetch('/forgotPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email })
            })
            .then(response => response.json())
            .then(data => {
                if (data.errorMessage) {
                    console.log('data----->'+data)
                    console.log('data.errorMessage------->'+data.errorMessage)
                    Toastify({
                        text: data.errorMessage,
                        duration: 3000,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: "center", // `left`, `center` or `right`
                        backgroundColor: "linear-gradient(to right, #f170a4, #f52a7c)",
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                    }).showToast();

                    if (data.validationErrors) {
                        const emailError = data.validationErrors.find(e => e.param === 'email');
                        if (emailError) {
                            document.getElementById('email').classList.add('is-invalid');
                            document.getElementById('emailError').innerText = emailError.msg;
                        } else {
                            document.getElementById('email').classList.remove('is-invalid');
                            document.getElementById('emailError').innerText = '';
                        }
                    }
                } else if (data.successMessage) {
                    Toastify({
                        text: data.successMessage,
                        duration: 3000,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: "center", // `left`, `center` or `right`
                        backgroundColor: "linear-gradient(to right, #a8e063, #56ab2f)",
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                    }).showToast();

                    document.getElementById('email').classList.remove('is-invalid');
                    document.getElementById('emailError').innerText = '';
                    document.getElementById('forgotPasswordForm').reset(); // إعادة تعيين النموذج بعد النجاح
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>

<%- include('../partial/end.ejs') %>
