
<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">الرئيسية</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">اسأل سؤالك</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">جلسات مصورة</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">مصادر تعليمية</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">اختبارات</a></li>
      </ul>
      <p class="text-center text-muted">© ourwaSuyfi </p>
    </footer>
  </div>


<script lang="text/javascript" src="/library/jquery.min.js"></script>
<script lang="text/javascript" src="/js/popper.min.js"></script>
<script lang="text/javascript" src="/js/bootstrap.min.js"></script>


</body>

</html>